<div class='container d-flex justify-content-center'>
  <div class='card mt-5' style='width: 23rem;'>
    <div class='card-body'>
      <h1>註冊帳號</h1>
       {{> message}}
      <form action='/users/register' method='post'>
        <div class='mb-3'>
          <label for='name' class='form-label'>姓名</label>
          <input
            name='name'
            type='text'
            class='form-control'
            id='name'
            aria-describedby=''
            value="{{name}}"
            required
          />

        </div>
        <div class='mb-3'>
          <label for='email' class='form-label'>Email</label>
          <input
            name='email'
            type='email'
            class='form-control'
            id='email'
            aria-describedby='emailHelp'
            value="{{email}}"
            required
          />

        </div>
        <div class='mb-3'>
          <label for='password' class='form-label'>密碼</label>
          <input
            name='password'
            type='password'
            class='form-control'
            id='password'
            value="{{password}}"
            required
          />
        </div>
        <div class='mb-3'>
          <label for='confirmPassword' class='form-label'>確認密碼</label>
          <input
            name='confirmPassword'
            type='password'
            class='form-control'
            id='confirmPassword'
            value="{{confirmPassword}}"
            required
          />
        </div>
        <div class='d-grid gap-2 mb-2'>
          <button type='submit' class='btn btn-dark'>註冊</button>
        </div>
        <a class='btn btn-outline-secondary' href='/users/login'>登入</a>
      </form>
    </div>
  </div>
</div>